<div id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <a href="/" class="logo-container">
                    <img src="/static/img/logo.jpeg" alt="CSGE Logo">
                </a>
            </div>
            <div class="col-md-3">
                <!-- Center space -->
            </div>
            <div class="col-md-2">
                <div class="nav-links">
                    <a href="/" class="term">Home</a>
                    <a href="/people.html" class="term">Officers</a>
                    <a href="/events.html" class="term">Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
